.Navbars {
    width: 500px;
    height: 60px;
    background-color: burlywood;
}

.Navbar {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 10px;
    border-bottom: 5px solid brown;
    text-decoration: none;

}


.nav:hover {
    color: black;
    font-weight: 700;
    font-family: arial;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: gray;
    font-family: arial;
    font-size: 18px;
}

.init {
    width: 500px;
    background-color: antiquewhite;
}


.draggable {
    position: relative;
    background-color: hotpink;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.dragging {
    background-color: blue;
}

.row {
    display: inline-block;
}

.col {
    display: block;
}

.invisible {
    display: none;
}

.ctrlgate {
    height: 60px;
    width: 122px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}

.droppable {
    background-image: url('./images/Line.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: white;
    display: inline-block;
}

.noplacement {
    background-image: url('./images/Banlogo.svg');
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 2px;

}

.ctrlline {
    background-image: url('./images/ctrlline.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    display: inline-block;
}

.cols {
    white-space: nowrap;
}

.qubit {
    cursor: pointer;
}

.gate {
    height: 50px;
    width: 50px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}

.drag-over {
    background-image: none;
    background-color: grey;
    opacity: 50%;
}

#X {
    background-image: url('./images/X.svg');
}

#Y {
    background-image: url('./images/Y.svg');
}

#Z {
    background-image: url('./images/Z.svg');
}

#H {
    background-image: url('./images/H.svg');
}

#ctrl {
    background-image: url('./images/Ctrl.svg');
}

#CtrlX {
    background-image: url('./images/CtrlX.svg');
}

.gatesec {
    font-size: 18px;
    margin: 2px;
}


button {
    margin: 10px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}


.input {
    margin: 10px;
    width: 100px;
}