.Navbars {
    width: 1000px;
    height: 60px;
    background-color: burlywood;
}


.Navbars>a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Navbar {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 10px;
    border-bottom: 5px solid brown;
    text-decoration: none;

}

#display {
    margin-left: 10px;
}

.nav:hover {
    color: black;
    font-weight: 700;
    font-family: arial;
    font-size: 18px;
}

.Navbar>a {
    text-decoration: none;
    color: gray;
    font-family: arial;
    font-size: 18px;
}

.init {
    width: 1000px;
    background-color: antiquewhite;
}


.draggable {
    position: relative;
    background-color: hotpink;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.dragging {
    background-color: blue;
}

.row {
    display: inline-block;
}

.col {
    display: block;
}

.invisible {
    display: none;
}

.ctrlgate {
    height: 60px;
    width: 122px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}

p {
    font-family: "PT Serif", 'Times New Roman', Times;
    font-size: 20px;
    line-height: 1.5;
}

#content {
    margin-left: 2px;
}

.droppable {
    background-image: url('./images/Line.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: white;
    display: inline-block;
}

.noplacement {
    background-image: url('./images/Banlogo.svg');
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 2px;

}



.ctrlline {
    background-image: url('./images/ctrlline.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    display: inline-block;
}

.cols {
    white-space: nowrap;
    height: 60px;
}

.qubit {
    cursor: pointer;
}

.gate {
    height: 50px;
    width: 50px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}

.drag-over {
    background-image: none;
    background-color: grey;
    opacity: 50%;
}

#X {
    background-image: url('./images/X.svg');
}

#Y {
    background-image: url('./images/Y.svg');
}

#Z {
    background-image: url('./images/Z.svg');
}

#H {
    background-image: url('./images/H.svg');
}

#T {
    background-image: url('./images/T.svg');
}

#S {
    background-image: url('./images/S.svg');
}

#ctrl {
    background-image: url('./images/Ctrl.svg');
}

#CtrlX {
    background-image: url('./images/CtrlX.svg');
}

#CtrlRx {
    background-image: url('./images/Rx.svg');
}

#dragplot {
    margin-top: 10px;
}

#Rtheta {
    margin: 5px;
    width: 50px;

}

div.controlgate>div.gatesec>span {
    margin-left: 20px;
}

.gatesec {
    font-size: 18px;
    margin: 5px;
}


button {
    margin: 10px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}


.input {
    margin: 10px;
    width: 100px;
}

#Matrix>svg>.axis text {
    font: 10px sans-serif;
}




#Matrix>svg>.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#display>svg>.axis line {
    visibility: hidden;
}

.fonts text {
    font-family: sans-serif;
    font-size: 10px;
}


#DrawArea {
    float: left;
}


#qvizarea {
    margin-top: -12px;
    display: inline-block;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    text-align: center;
    display: none;
}

#content div {
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: inline-block;
    width: 800px;
    height: 600px;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 900;
    padding: 50px;
    border-radius: 10px;
}